
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Lora');

* {
  margin: 0;
}

html {
  font-family: 'Lato', 'Lora';
  font-size: 16px;
}

.fondo-gris {
  background-color: rgb(53,58,64) !important;
  color: seashell;
}

.fondo-verde_claro {
  background-color: rgb(150,201,62);
  border-color: rgb(105, 201, 62);
  color: seashell;
}
.fondo-verde_claro:hover {
  color: seashell !important;
  background-color: rgb(105, 201, 62);
}

.fondo-azul_degradado {
  background: linear-gradient(to right, rgb(29,62,81), rgb(29,82,113) );
  color: seashell;
}

.fondo-azul_degradado a.nav-link {
  color: seashell;
}

.fondo-azul_degradado a.nav-link:hover {
  color: black !important;
}
.fondo-transparente {
  background-color: #0000007e;  
  color: seashell;
}

article#intro {
  height: 90vh;
  overflow: hidden;
  background: center/cover no-repeat url(../ima/ba1.jpg);
}

article#intro > section {
  height: 100%;
  text-align: end;
  font-weight: bold;
}