
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Lora');

* {
  margin: 0;
}

html {
  font-family: 'Lato', 'Lora';
  font-size: 16px;
}

.bk-grey {
  
  background-color: rgb(51, 55, 59) !important;
  color: seashell;
}

.bk-blue {
  background: linear-gradient(to right, rgb(32, 69, 90), rgb(28, 91, 128) );
  color: seashell;
}

.bk-blue a.nav-link {
  color: seashell;
}

.bk-blue a.nav-link:hover {
  color: black !important;
}


.fondo-transparente {
  opacity: 0.9 ;
  background-color: #0000007e;  
  color: seashell;
}

article#inicio {
  height: 90vh;
  overflow: hidden;
  background: center/cover no-repeat url(../imagenes/ba1.jpg);
}

article#inicio > section {
  height: 100%;
  text-align: end;
  font-weight: bold;
}

.color-pass {
  opacity: 0.9 ;
  background-color: rgb(150,201,62);
  border-color: rgb(105, 201, 62);
  color: seashell;
}
.color-pass:hover {
  opacity: .7;
  color: seashell !important;
  background-color: rgb(105, 201, 62);
}

.color-pass-ticket {
  opacity: 0.9 ;
  background-color: rgb(106, 212, 57);
  border-color: rgb(106, 212, 57);
  color: seashell;
}
.color-pass-ticket:hover {
  opacity: .7;
  color: seashell !important;
  background-color: rgb(170,201,62);
}

.bordeVentas { 
  
  border-style: double; border-width: 4px; 

}




.tabla input,
textarea {
  border: 1px solid #999999;
  border-radius: 3px;

}

.tabla input {

  height: 20px;

}

.tabla {

  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;

}




.tabla td,
.tabla th {

  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  vertical-align: top;

}

.tabla tr:hover {

  /*background: #fbf8e9;*/
  background: orange;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

}


.tabla th {
  /*colo del titulo de la tabla*/
  background-color: #dce9f9;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.titulo th {

  background-color: #e9f9dc;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.titulo input,
textarea {
  border: 1px solid #999999;
  border-radius: 3px;

}

.titulo input {

  height: 20px;

}

.titulo {

  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;

}


.titulo tr:hover {

  /*color del fondo de celdas*/
  background: black;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

}


.titulo td,
.titulo th {

  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: top;

}

